// Styles for dashboard widget.
#p22d_dashboard_widget {
	// Fix spinner alignment.
	.postbox-title-action .spinner {
		margin: 0;
	}

	// Fix alignment of pager page input text.
	.search-box input,
	.tablenav-pages input {
		vertical-align: unset;
	}

	.tablenav-pages {
		margin-left: 9px;
	}

	// Left align table cells in tooltips.
	.tippy-content table {
		text-align: left;
	}

	// Fix search box on top of user list at mobile screen sizes.
	@media screen and (max-width: 782px) {
		.tablenav {
			height: 40px;
		}
		.users {
			padding-bottom: 62px;
		}
		.search-box {
			height: auto;
		}
	}
}
