// Colors.
$blue:  #6a737d;
$green: #2cbe4e;
$red:   #cb2431;
$white: #fff;

// Styles for plugin settings page.
.settings_page_dashboard-for-pressbooks-h5p {
	.notice {
		a {
			font-weight: 600;
			margin-right: 6px;
		}
	}

	.badge {
		background-color: $blue;
		border-radius: 3px;
		color: $white;
		display: inline-block;
		font-weight: 600;
		line-height: 20px;
		padding: 2px 6px;
		text-align: center;

		// Collapse left margin of badge with leading icon.
		& > .dashicons {
			margin-left: -3px;
		}

		&.badge-success {
			background-color: $green;
		}

		&.badge-warning {
			background-color: $red;
		}
	}
}
